body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none; 
}

body {
    font-family: sans-serif; 
    color: #333; 
}


header {
    background-color: #f0f0f0; 
    padding: 10px 0;
    border-bottom: 1px solid #ddd; 
}

.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.logo-link {
    text-decoration: none; 
}

.logo {
    height: 50px; 
}

nav ul {
    display: flex; 
}

nav ul li {
    margin-left: 20px; 
    display: flex; 
  align-items: center; 
}
nav ul li a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center; 
    gap: 5px;
}
nav ul li a img{
    width: 20px;
    height: 20px;
    display: block;
}


main {
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto;
}


.featured-recipes h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #e44d26;
}
.featured-recipes .recipe-container{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-recipes .recipe-card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}
.featured-recipes .recipe-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom:10px;
}
.featured-recipes .recipe-title{
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}
.featured-recipes .recipe-icons{
      display:flex;
    justify-content: space-between;
    align-items:center;
     padding-top: 10px;

}
.other h3{
   margin-bottom: 15px;
    text-align: center;
    color: #e44d26;
}
.other .other-container {
    display: flex;
     gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}

.other .other-card {
    width: 180px;
    background-color: #fff;
    border: 1px solid #ddd;
     padding: 10px;
    text-align: center;
}
.other .other-card img{
  width:100%;
   height: 120px;
    object-fit: cover;
     margin-bottom:10px;
}

.categories-items h3{
   margin-bottom: 15px;
    text-align: center;
    color: #e44d26; 
}

.categories-items .categories-container{
     display: flex;
     gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.categories-items .category-card {
    width: 150px;
    text-align:center;
    
}
.categories-items .category-card img{
    width: 80px;
    height: 60px;
    margin: 0 auto;
    object-fit: cover;
    display:block;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
}